    a {
        text-decoration:none;
        color:white;
    }

    a:visited {
        color:white;
    }



    a:hover {
        color: #a1cb62;
        text-decoration:none;

    }

    .more{
        padding-bottom:75px;
    }

    .form-group{
        line-height: 3;
    }
    

